@charset "utf-8";
/* cSS document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;font-style: normal;vertical-align: baseline;background: transparent;font-weight: inherit;}body {line-height: 1;-webkit-text-size-adjust: 100%;color: #333;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}ul, ol, dl {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}a {margin: 0;padding: 0;font-size: 100%;vertical-align: baseline;background: transparent;}a:link img, a:visited img, a:active img, a:hover img{border: none;text-decoration: none;}ins {background-color: #ff9;color: #000;text-decoration: none;}mark {background-color: #ff9;color: #000;font-style: italic;font-weight: bold;}del {text-decoration: line-through;}abbr[title], dfn[title] {border-bottom: 1px dotted;cursor: help;}table {border-collapse: collapse;border-spacing: 0;}hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 0;padding: 0;}input, select, textarea{vertical-align: middle;}img, canvas, iframe, video, svg {max-width: 100%;}.overflow-container {overflow-y: scroll;}

/* common */
/* header----------------------------*/
.header_inner{
  background: #69f;
}
.header_inner h1{
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  max-width: 600px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #fff;
}

/* main----------------------------*/
.main_inner{
  margin: 0 auto;
  padding: 50px 0;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.sushi_list{
  margin: 0 auto;
}
.sushi_list li{
  position: relative;
  display: inline-block;
  margin: 0 5px 10px;
  width: 100px;
  height: 100px;
}

/* 商品名 */
.sushi_list li .name{
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 7px;
  color: #fff;
  background: #009;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
  border-radius: 50% 50%;
  font-size: .6875rem;
}

/* 値札 */
.sushi_list li .price{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px 5px;
  min-width: 30%;
  background: #cbac73;
  background: linear-gradient(135deg, #cbac73 7%, #e2c48d 13%, #cbac73 13%, #cbac73 13%, #cbac73 26%, #e2c48d 38%, #cbac73 38%, #e2c48d 38%, #cbac73 38%, #e2c48d 60%, #cbac73 60%, #cbac73 60%, #e2c48d 75%, #cbac73 75%, #e2c48d 92%, #cbac73 92%);
  box-shadow: 0 -1px 0 0 #b48040 inset, 0 1px 1px 0 rgba(0,0,0,.3);
  border-radius: 5px 5px 0 0;
  font-size: .6875rem;
  font-weight: bold;
  color: #000;
}

/* 100円のお皿 */
.tamago:before,
.kappa:before,
.tekka:before{
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 100%;
  height: 40%;
  background: radial-gradient(ellipse at center, rgba(255,255,255,.35) 0%, rgba(255,255,255,.35) 32%, rgba(0,0,0,.15) 35%, rgba(0,0,0,.05) 37%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%), linear-gradient(to right, #fff 0%, #e5e5e5 60%);
  border: solid 1px #fff;
  box-shadow: 0 0 0 2px #3399ff inset, 0 2px 3px 0 rgba(0,0,0,.3);
  border-radius: 50% 50%;
  box-sizing: border-box;
}

/* 180円のお皿 */
.ikura:before,
.ebi:before,
.purin:before{
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 100%;
  height: 40%;
  background: #f7c718;
  background: radial-gradient(ellipse at center, rgba(255,255,255,.35) 0%, rgba(255,255,255,.35) 32%, rgba(0,0,0,.15) 35%, rgba(0,0,0,.05) 37%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%), linear-gradient(to right, #fff 3%, #f7c718 30%, #f7c718 84%, #f2d67B 100%);
  border: solid 1px #fff;
  box-shadow: 0 0 0 1px #f7c718 inset, 0 2px 3px 0 rgba(0,0,0,.3);
  border-radius: 50% 50%;
  box-sizing: border-box;
}

/* 250円のお皿 */
.chutoro:before,
.kanburi:before{
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 100%;
  height: 40%;
  background: #990000;
  background: radial-gradient(ellipse at center, rgba(255,255,255,.35) 0%, rgba(255,255,255,.35) 32%, rgba(0,0,0,.15) 35%, rgba(0,0,0,.05) 37%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%), linear-gradient(145deg, #f2f2f2 0%, #990000 30%, #990000 64%, #c2ab57 64%, #c2ab57 65%, #990000 65%, #990000 70%, #c2ab57 70%, #c2ab57 71%, #990000 71%, #990000 100%);
  border: solid 1px #fff;
  box-shadow: 0 0 0 1px #990000 inset, 0 2px 3px 0 rgba(0,0,0,.3);
  border-radius: 50% 50%;
  box-sizing: border-box;
}

/* お寿司本体 */
.neta{
  cursor: pointer;
}
.neta:hover div{
  animation: jumping .6s both .1s ease;
}
.neta:hover div + div{
  animation: jumping .6s both .15s ease;
}
@keyframes jumping {
  0% {
    transform: translate(0,0);
  }
  25% {
  	transform: translate(0,-5px);
  }
  50% {
  	transform: translate(0,0);
  }
  75% {
  	transform: translate(0,-5px);
  }
  100% {
  	transform: translate(0,0);
  }
}

/* にぎり共通シャリ */
.tamago .neta div,
.chutoro .neta div,
.ebi .neta div,
.kanburi .neta div{
  position: absolute;
  top: 40%;
  left: 15%;
  width: 50%;
  height: 30%;
  transform: rotate(-5deg);
  background: #fff;
  background: linear-gradient(to bottom, #fff 0%, #fff 60%, #e5e2cf 100%);
  border: dashed 1px #ccc;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  border-radius: 30%;
  box-sizing: border-box;
}
.tamago .neta div + div,
.chutoro .neta div + div,
.ebi .neta div + div,
.kanburi .neta div + div{
  top: 50%;
  left: inherit;
  right: 15%;
}


/* たまご */
.tamago .neta div:before{
  position: absolute;
  top: -5%;
  left: -2%;
  content: '';
  width: 104%;
  height: 60%;
  transform: skewX(15deg);
  background: #fc6;
  background: linear-gradient(to right, #fc6 0%, #fc6 60%, #ffbb33 100%);
  box-shadow: 0 1px 5px 0 rgba(255,255,255,.15) inset,0 -4px 1px 0 rgba(255,153,0,.5) inset, -1px 2px 2px 0 rgba(0,0,0,.1);
  border-radius: 30% 30% 25% 25%;
}
.tamago .neta span:before{
  position: absolute;
  top: -5%;
  left: 40%;
  content: '';
  display: block;
  width: 23%;
  height: 59%;
  transform: skewX(28deg);
  background: #000;
}
.tamago .neta span:after{
  position: absolute;
  top: 53%;
  left: 48%;
  content: '';
  display: block;
  width: 23%;
  height: 50%;
  transform: skewX(-5deg);
  background: #000;
}

/* 中トロ */
.chutoro .neta div:before{
  position: absolute;
  top: -6.5%;
  left: -10%;
  content: '';
  width: 120%;
  height: 65%;
  transform: skewX(50deg) rotate(-5deg);
  background: #ffcc99;
  background: radial-gradient(circle farthest-corner at bottom, #ff4c4c 16%, #ff7777 25%, #ffcccc 31%, #ff7777 37%, #ff4c4c 41%, #ff4c4c 46%, #ff7777 56%, #ffcccc 60%, #ff7777 64%, #ff4c4c 71%, #ff4c4c 77%, #ff7777 80%, #ffcccc 84%, #ff7777 88%, #ff4c4c 100%);
  box-shadow: 0 1px 5px 0 rgba(255,255,255,.3) inset, 5px 0 5px 0 rgba(255,255,255,.2) inset, 0 -3px 0 0 rgba(255,0,0,.5) inset, -1px 2px 2px 0 rgba(0,0,0,.15);
  border-radius: 50% 50% 40% 10%;
}
.chutoro .neta span:before{
  position: absolute;
  top: -6%;
  left: 45%;
  display: block;
  content: '';
  width: 15%;
  height: 20%;
  background: #55aa2b;
  box-shadow: -2px -2px 2px 0 rgba(0,0,0,.25) inset, 0 1px 1px 0 rgba(0,0,0,.15);
  border-radius: 50%;
}

/* 蒸えび */
.ebi .neta div:before{
  position: absolute;
  top: -6.5%;
  left: -10%;
  content: '';
  width: 120%;
  height: 60%;
  transform: skewX(50deg) rotate(-5deg);
  background: #ffd9b2;
  background: radial-gradient(circle farthest-side at left, #ffd9b2 25%, #ff794c 28%, #ff794c 37%, #ffd9b2 40%, #ffd9b2 50%, #ff794c 53%, #ff794c 60%, #ffd9b2 63%, #ffd9b2 72%, #ff794c 75%, #ff794c 80%, #ffd9b2 83%, #ffd9b2 87%, #ff794c 90%, #ff794c 100%);
  box-shadow: 0 1px 5px 0 rgba(255,255,255,.3) inset, 5px 0 5px 0 rgba(255,255,255,.2) inset, 0 -3px 0 0 rgba(255,102,51,.5) inset, -1px 2px 2px 0 rgba(0,0,0,.15);
  border-radius: 50% 50% 30% 10%;
}
.ebi .neta div:after{
  position: absolute;
  top: 14%;
  left: 10%;
  content: '';
  width: 80%;
  height: 1%;
  transform: skewX(50deg) rotate(-5deg);
  background: #ff794c;
  box-shadow: 0 0 3px 1px #f63, 0 0 10px 0 #f63;
  border-radius: 50% 50% 30% 10%;
}
.ebi .neta span:before{
  position: absolute;
  top: 25%;
  left: 105%;
  content: '';
  width: 30%;
  height: 20%;
  transform: rotate(25deg);
  background: #f63;
  box-shadow: 1px 2px 2px 0 rgba(0,0,0,.1);
  border-radius: 3px 50% 50% 3px;
}
.ebi .neta span:after{
  position: absolute;
  top: 5%;
  left: 105%;
  content: '';
  width: 30%;
  height: 20%;
  transform: rotate(-35deg);
  background: #f63;
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.3) inset;
  border-radius: 3px 50% 50% 3px;
}

/* 寒ブリ */
.kanburi .neta div:before{
  position: absolute;
  top: -6.5%;
  left: -10%;
  content: '';
  width: 120%;
  height: 65%;
  transform: skewX(50deg) rotate(-5deg);
  background: #ffd0b3;
  background: radial-gradient(circle farthest-corner at bottom, #ffc099 25%, #ffeee1 28%, #ffc099 31%, #ffc099 47%, #ffc099 50%, #ffeee1 53%, #ffc099 56%, #ffc099 100%);
  box-shadow: 0 1px 5px 0 rgba(255,255,255,.3) inset, 5px 0 5px 0 rgba(255,255,255,.2) inset, 0 -2px 0 0 #333 inset, 0 -4px 0 0 #c33 inset, -1px 2px 2px 0 rgba(0,0,0,.15);
  border-radius: 50% 50% 30% 10%;
}
.kanburi .neta span:before{
  position: absolute;
  top: -6%;
  left: 45%;
  display: block;
  content: '';
  width: 15%;
  height: 20%;
  background: #55aa2b;
  box-shadow: -2px -2px 2px 0 rgba(0,0,0,.25) inset, 0 1px 1px 0 rgba(0,0,0,.15);
  border-radius: 50%;
}


/* 細巻き共通シャリ */
.kappa .neta div,
.tekka .neta div{
  position: absolute;
  top: 40%;
  left: 28%;
  width: 25%;
  height: 25%;
  transform: rotate(0deg);
  background: #000;
  border: 0;
  box-shadow: 1px 2px 5px 0 rgba(255,255,255,.4) inset, 0 3px 3px 0 rgba(0,0,0,.1);
  border-radius: 0;
  box-sizing: border-box;
}
.kappa .neta div + div,
.tekka .neta div + div{
  top: 50%;
  left: inherit;
  right: 28%;
}
.kappa .neta div:before,
.tekka .neta div:before{
  position: absolute;
  top: -25%;
  left: 0;
  content: '';
  width: 100%;
  height: 50%;
  background: #fff;
  background: linear-gradient(to bottom, #fff 0%, #fff 60%, #e5e2cf 100%);
  border: dashed 1px #ccc;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  border-radius: 50%;
  box-sizing: border-box;
}
.kappa .neta div:after,
.tekka .neta div:after{
  position: absolute;
  top: 75%;
  left: 0;
  content: '';
  width: 100%;
  height: 50%;
  background: #000;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  border-radius: 50%;
}

/* かっぱ */
.kappa .neta span:before{
  position: absolute;
  top: -13%;
  left: 35%;
  content: '';
  width: 30%;
  height: 20%;
  background: #9c6;
  box-shadow:  0 -2px 2px 0 rgba(0,0,0,.15) inset, -1px 2px 2px 0 rgba(0,0,0,.1);
  border-radius: 3px;
  border-right: solid 3px #009900;
  box-sizing: border-box;
}

/* 鉄火 */
.tekka .neta span:before{
  position: absolute;
  top: -13%;
  left: 35%;
  content: '';
  width: 30%;
  height: 20%;
  background: #c33;
  box-shadow: -2px -2px 1px 0 rgba(0,0,0,.15) inset, -1px 2px 2px 0 rgba(0,0,0,.1);
  border-radius: 3px;
}


/* 軍艦共通シャリ */
.ikura .neta div{
  position: absolute;
  top: 42%;
  left: 18%;
  width: 45%;
  height: 22%;
  transform: rotate(-5deg);
  background: #000;
  border: 0;
  box-shadow: 1px 2px 5px 0 rgba(255,255,255,.4) inset, 0 3px 3px 0 rgba(0,0,0,.1);
  border-radius: 0;
  box-sizing: border-box;
}
.ikura .neta div + div{
  top: 52%;
  left: inherit;
  right: 18%;
}
.ikura .neta div:after{
  position: absolute;
  top: 75%;
  left: 0;
  content: '';
  width: 100%;
  height: 50%;
  background: #000;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  border-radius: 50%;
}

/* いくら */
.ikura .neta div:before{
  position: absolute;
  top: -25%;
  left: -1%;
  content: '';
  width: 102%;
  height: 60%;
  background: #f60;
  background: linear-gradient(to right, #f60 0%, #f60 60%, #ff4200 100%);
  border: dashed 1px #ff2a00;
  box-shadow: -2px -2px 1px 0 #ff2a00 inset, 0 3px 3px 0 rgba(0,0,0,.1);
  border-radius: 50% 50% 30% 30%;
  box-sizing: border-box;
}
.ikura .neta span:before{
  position: absolute;
  top: -20%;
  left: 70%;
  content: '';
  width: 40%;
  height: 45%;
  transform: rotate(-10deg);
  background: #b8e58a;
  box-shadow: 0 3px 5px 0 rgba(255,255,255,.35) inset, -1px 2px 2px 0 rgba(0,0,0,.1);
  border-radius: 0 50% 50% 0;
  border-right: solid 5px #009900;
  border-bottom: solid 1px #009900;
}
.ikura .neta span:after{
  position: absolute;
  top: -50%;
  left: 60%;
  content: '';
  width: 40%;
  height: 45%;
  transform: rotate(-35deg);
  background: #b8e58a;
  box-shadow: 0 3px 5px 0 rgba(255,255,255,.35) inset, -1px 2px 2px 0 rgba(0,0,0,.1);
  border-radius: 0 50% 50% 0;
  border-right: solid 5px #009900;
  border-bottom: solid 1px #009900;
}


/* プリン */
.purin .neta div{
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  height: 30%;
  background: #ffe794;
  border: 0;
  box-shadow: 1px 2px 5px 0 rgba(255,255,255,.6) inset, 0 3px 3px 0 rgba(0,0,0,.1);
  border-radius: 50% 50% 0 0;
  box-sizing: border-box;
}
.purin .neta div + div{
  display: none;
}
.purin .neta div:before{
  position: absolute;
  top: 75%;
  left: 0;
  content: '';
  width: 100%;
  height: 50%;
  background: #ffe794;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  border-radius: 50%;
}
.purin .neta div:after{
  position: absolute;
  top: 120%;
  left: 10%;
  content: '';
  width: 40%;
  height: 40%;
  transform: rotate(-10deg);
  background: #999;
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.5) inset, 0 -2px 2px 0 rgba(0,0,0,.3) inset, 0 3px 3px 0 rgba(0,0,0,.15);
  border-radius: 50%;
}
.purin .neta span:after{
  position: absolute;
  top: 118%;
  left: 40%;
  content: '';
  width: 100%;
  height: 18%;
  transform: rotate(-10deg);
  background: #999;
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.5) inset, 0 -2px 2px 0 rgba(0,0,0,.3) inset, 0 3px 3px 0 rgba(0,0,0,.15);
  border-radius: 3px;
}
.purin .neta span:before{
  position: absolute;
  top: 0;
  left: 10%;
  content: '';
  width: 80%;
  height: 50%;
  background: #300;
  background: radial-gradient(circle farthest-side at left, #4c1010 0%, #300 60%, #300 100%);
  box-shadow: 3px 3px 5px 0 rgba(255,255,255,.35) inset;
  border-radius: 50%;
  box-sizing: border-box;
}


/* あがり */
.agari .neta div{
  position: absolute;
  top: 35%;
  left: 30%;
  width: 40%;
  height: 40%;
  background: #999;
  border: 0;
  box-shadow: 1px 2px 5px 0 rgba(255,255,255,.6) inset, 0 3px 3px 0 rgba(0,0,0,.1);
  border-radius: 0;
  box-sizing: border-box;
}
.agari .neta div + div{
  display: none;
}
.agari .neta div:before{
  position: absolute;
  top: 100%;
  left: 15%;
  content: '';
  width: 70%;
  height: 35%;
  background: #999;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  border-radius: 50%;
  box-sizing: border-box;
}
.agari .neta div:after{
  position: absolute;
  top: 75%;
  left: 0;
  content: '';
  width: 100%;
  height: 50%;
  background: #999;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  border-radius: 50%;
}
.agari .neta span:before{
  position: absolute;
  top: -20%;
  left: 0;
  content: '';
  width: 100%;
  height: 45%;
  background: #360;
  background: radial-gradient(circle farthest-side at left, #360 0%, #360 20%, #264d00 100%);
  box-shadow: 0 5px 0 0 #999 inset;
  border-radius: 50%;
  box-sizing: border-box;
}
.agari .neta span:before{
  position: absolute;
  top: -20%;
  left: 0;
  content: '';
  width: 100%;
  height: 45%;
  border: solid 3px #bfbfbf;
  box-sizing: border-box;
}
